.table td,
.table th {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.thead-light th {
  background-color: #f2f4f6;
  color: #1f2937;
}
.table > :not(caption) > * > * {
  padding: 0.75rem 0.5rem;
}
.cursor {
  cursor: pointer;
}
