.icon-shape-secondary {
  color: #1f2937;
  background-color: rgba(31, 41, 55, 0.3);
}

.icon-shape {
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
