.sidebar {
  background-color: #262b40 !important;
  box-shadow: 5px 0 3px -4px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-top: 30px;
  position: fixed;
  top: 0;
  width: 275px;
  height: 100vh;
}
@media (max-width: 768px) {
  .sidebar {
    position: unset;
    width: auto;
    height: auto;
    padding-top: 0px;
  }
}
